appdirs==1.4.2
click==6.6
Flask==0.12.3
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==0.23
packaging==16.8
pbr==1.10.0
pyparsing==2.1.10
redis==2.10.5
requests==2.20.0
rq==0.7.1
six==1.10.0
stevedore==1.20.0
urllib3==1.23
virtualenv==15.1.0
virtualenvwrapper==4.7.2
Werkzeug==0.11.10
